/* Reset CSS */
@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css");

/* Importação da fonte Poppins */
@font-face {
  font-family: "Poppins";
  src: url("/font/Poppins-Regular.ttf");
}

/* Estilo da página */
body,
html {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  background-color: white;
}


#container_1{
    background-color: #F7C7B9;
}

header{
    display: flex;
    justify-content: space-around;
    height: 4rem;
    align-items: center;
}

#logo{
    display: flex;
    align-items: center;
}

#logo h1{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-left: 10px;
}

#menu_section{
    width: 40%;
}

#menu_btn{
    display: none;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#menu a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#menu a:hover{
    border-bottom: 1px solid black;
}

#menu_mobile{
    display: none;
}

main{
    display: flex;
    align-items: center;
    padding-block: 0 3rem;
}

#content_1{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

#content_1_texts{
    width: 50%;
    padding-block: 2rem;
}

#content_1_texts h1{
    font-weight: 600;
    font-size: 48px;
    padding-block: 20px;
}

#content_1_button{
    width: 50%;
}

#donation_button{
    display: flex;
    background-color: #DA2535;
    color: #F9F9F9;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
}

#donation_button:hover{
    transition: all 250ms linear;
    background-color: rgb(253, 59, 0);
}

#donation_button_icon{
    margin-right: 0.5rem;
}

#content_2{
    width: 50%;
}

#content_2 img{
    width: 80%;
}


#container_2{
    background-color: white;
    padding-block: 0 20rem;
}

#resume_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block: 40px;
}

#resume_text h1{
    font-size: 48px;
    font-weight: bold;
}

#resume_text p{
    font-size: 16px;
    width: 35%;
    margin-top: 30px;
    color: #8D8D8D;
}

#card_line{
    display: flex;
    justify-content: space-evenly;
}

.cards{
    width: 198px;
    height: 48px;
    text-align: center;
}

.cards h1{
    font-weight: bold;
    font-size: 20px;
}

.cards p{
    padding-block: 20px;
    color: #8D8D8D;
    line-height: 24px;
}


#container_3{
    display: flex;
    background-color: #F7C7B9;
    padding-block: 2rem;
}

#left_content{
    display: flex;
    justify-content: center;
    width: 50%;
    align-self: center;
}

#left_content img{
    width: 400px;
    height: 400px;
}

#rigth_content{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: center;
}

#rigth_content h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 52px;
}

#rigth_content p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-block: 40px;
    width: 70%;
}


footer{
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer_logo{
    margin-left: 100px;
}

#media{
    margin-right: 40px;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.media_icon{
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(218, 37, 52, 0.15);
    border-radius: 100px;
    align-items: center;
}

.media_icon:hover{
    background-color: rgba(218, 37, 52, 0.30);
}


@media (max-width: 1024px){

    #logo h1{
        font-size: 14px;
        margin-left: 5px;
    }

    #menu_section{
        width: 50%;
    }
    
    #menu a{
        font-size: 12px;
    }

    main{
        padding-block: 2rem 8rem;
    }
    
    #content_1{
        width: 100%;
    }
    
    #content_1_texts{
        text-align: center;
    }
    
    #content_1_texts h1{
        font-size: 32px;
    }
    
    #content_1_button{
        display: flex;
        justify-content: center;
    }
    
    #donation_button{
        width: 400px;
        height: 40px;
    }
    
    #donation_button_icon{
        margin-right: 10px;
    }
    
    #content_2{
        display: none;
    }


    #container_2{
        padding-block: 0 5rem;
    }

    #resume_text{
        flex-direction: column;
        padding-block: unset;
        padding-top: 2rem;
    }
    
    #resume_text h1{
        font-size: 24px;
    }
    
    #resume_text p{
        font-size: 14px;
        width: 80%;
        margin-top: 20px;
    }

    #card_line{
        flex-direction: column;
        align-items: center;
    }

    .cards{
        padding-block: 4rem;
    }

    .cards img{
        height: 100px;
    }
    
    .cards h1{
        font-size: 14px;
    }
    
    .cards p{
        padding-block: 8px;
        line-height: 21px;
        font-size: 12px;
    }

    
    #container_3{
        padding-block: 10rem;
    }
    
    #left_content{
        display: none;
    }

    #rigth_content{
        display: flex;
        text-align: center;
        width: 100%;
    }
    
    #rigth_content h1{
        font-size: 24px;
        line-height: 36px;
    }
    
    #rigth_content p{
        align-self: center;
        font-size: 14px;
        line-height: 21px;
        padding-block: 20px;
        width: 80%;
    }

    #content_1_button{
        width: 100%;
    }

}

@media (max-width: 768px){

    #menu_section{
        display: flex;
        align-items: center;
        justify-content:end;
    }

    #menu_btn{
        display: flex;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    #menu_btn img{
        width: 8vw;
        height: 8vh;
    }

    #menu{
        display: none;
    }

    header{
        display: flex;
        justify-content: center;
    }

    #menu_section.active #menu{
        display: block;
        flex-direction: column;
        position: absolute;
        top: 10vh;
        margin-top: 5vh;
        height: 210vh;
        background-color: #F7C7B9;
        z-index: 1000;
        width: 100%;
        left: 0%;
        overflow-y: auto;
    }

    #menu_section.active #menu a{
        display: block;
        padding: 2rem 0;
        margin-block: 0 1rem;
        margin-inline: 1rem;
        font-size: 24px ;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }

    #menu_section.active #menu a:hover{
        background-color: rgba(248, 151, 119, 0.5);
    }

    #media{
        width: 50%;
    }
    
    #donation_button{
        width: 85%;
    }
}

@media (max-width: 500px){

    #logo h1{
        font-size: 10px;
    }
    
    #menu a{
        font-size: 8px;
    }
    
    #content_1_texts h1{
        font-size: 26px;
    }

    #content_1_texts p{
        font-size: 16px;
    }

    
    #resume_text h1{
        font-size: 18px;
    }
    
    #resume_text p{
        font-size: 12px;
        margin-top: 20px;
    }

    .cards{
        padding-block: 50px;
    }

    .cards p{
        padding-block: 4px;
        line-height: 15px;
    }


    #footer_logo{
        margin-left: 25px;
    }

    .media_icon{
        width: 20px;
        height: 20px;
    }

    .media_icon img{
        width: 12px;
        height: 12px;
    }
}